.screen {
    width: 100%;
    max-width: 412px;
    min-height: 100vh;
    aspect-ratio: 412 / 917;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    background: linear-gradient(180deg, rgba(202, 75, 75, 0) 0%, rgba(202, 75, 75, 0.20) 100%), #CCF0B1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.app-title {
    width: 59.2%;
    height: 11.8%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #474747;
    font-size: 2.5rem;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.app-subtitle {
    width: 59.2%;
    height: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #474747;
    font-size: 1.25rem;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

#focus-subtitle {
    position: absolute;
    top: 100%;
    left: 20%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    display: none; /* Change to 'flex' to show the subtitle */
}

#pause-subtitle {
    position: absolute;
    margin-bottom: 0px;
    top: 100%;
    left: 20%;
    margin-top: 0px;
    padding-bottom: 0px;
    display: none; /* Change to 'flex' to show the subtitle */
}


.status-bar {
    position: relative;
    height: 30%;
}

svg {
    width: 48.5%;
    height: auto;
    position: relative;
    margin-top: 18%;

}

#status-bar {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s ease;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row; /* Ensure elements are side by side */
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #474747;
    font-size: 2.5rem;
    font-family: Inter;
    font-weight: 400;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.timer span {
    display: inline-block;
}

.buttons-1 {
    display: inline-flex;
    flex-direction: row;
    height: 5%;
    align-self: stretch;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.buttons-2 {
    display: inline-flex;
    flex-direction: row;
    height: 5%;
    align-self: stretch;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

/* Button styles */
.button {
    width:45%;
    height:100%;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#start-button {
    border: 4px #4DCA72 solid;
    background: none;
    color: #474747;
}

#start-button:hover {
    background-color: #4DCA72;
    color: white;
}

#start-button.active {
    background-color: #4DCA72;
    color: white;
}

#reset-button {
    border: 4px #303030 solid;
    background: none;
    color: #474747;
}

#reset-button:hover {
    background-color: #303030;
    color: white;
}

#reset-button.active {
    background-color: #303030;
    color: white;
}

#start-pause-button {
    border: 4px #142CC9 solid;
    background: none;
    color: #474747;
}

#start-pause-button:hover {
    background-color: #142CC9;
    color: white;
}

#start-pause-button.active {
    background-color: #142CC9;
    color: white;
}
/* end of button styles */


.button-rectangle {
    width: 7.1rem;
    height: 2.4rem;
    border-radius: 0.625rem;
}

#start-button-rectangle {
    border: 4px #4DCA72 solid;
}

#pause-button-rectangle {
    border: 4px #D0B132 solid;
}

#reset-button-rectangle {
    border: 4px #303030 solid;
}

#start-pause-button-rectangle {
    border: 4px #142CC9 solid;
}

.button-text {
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #474747;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}


hr {
    color: #474747;
    width: 100%;
}

/* To-do list styles */
/* Include the padding and border in an element's total width and height */
.todo-list-container {
    box-sizing: border-box;
  }
  
/* Remove margins and padding from the list */
ul {
margin: 0;
padding: 0;
height: 40%;
overflow-y: scroll;
}

/* Style the list items */
ul li {
cursor: pointer;
position: relative;
padding: 0.75rem 0.5rem 0.75rem 2.5rem;
background: #eee;
font-size: 1.125rem;
transition: 0.2s;

/* make the list items unselectable */
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
background: #888;
color: #fff;
text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
content: '';
position: absolute;
border-color: #fff;
border-style: solid;
border-width: 0 0.125rem 0.125rem 0;
top: 0.625rem;
left: 1rem;
transform: rotate(45deg);
height: 0.9375rem;
width: 0.4375rem;
}

/* Style the close button */
.close {
position: absolute;
right: 0;
top: 0;
padding: 0.75rem 1rem;
}

.close:hover {
background-color: #f44336;
color: white;
}

/* Style the header */
.todo-list-header {
background: none;
padding: 1.875rem 2.5rem;
color: #474747;
text-align: center;
}

/* Clear floats after the header */
.todo-list-header:after {
content: "";
display: table;
clear: both;
}

/* Style the input */
input {
margin: 0;
border: none;
border-radius: 0;
width: 75%;
padding: 10px;
float: left;
font-size: 16px;
}

/* Style the "Add" button */
.add-todo-button {
padding: 10px;
width: 25%;
background: #d9d9d9;
color: #555;
float: left;
text-align: center;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
border-radius: 0;
display: flex;
}

.add-todo-button:hover {
background-color: #bbb;
}

h2 {
margin-top: 1%;
}
